<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Todos los Servicios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Todos los Servicios</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo de Servicio</th>
                    <th>Modelo del Vehículo</th>
                    <th>Descripción del Problema</th>
                    <th>Patente</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ service.tipo_servicio }}</td>
                    <td>{{ service.modelo_vehiculo }}</td>
                    <td>{{ service.descripcion_problema }}</td>
                    <td>{{ service.patente }}</td>
                    <td>{{ service.user }}</td>
                    <td>
                        <button class="btn btn-success" onclick="location.href='/employee/all_service/complete/{{ service.id }}/'">Completar</button>
                        <button class="btn btn-danger" onclick="location.href='/employee/all_service/delete/{{ service.id }}/'">Eliminar Servicio</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary mt-3" onclick="location.href='/employee/'">Volver</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
