<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Servicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/conf_servicio.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 class="white-text">Confirmación de Servicio</h1>
            <button class="primary">Ver Factura</button>
            <button class="secondary">Comprar Productos</button>
            <button class="secondary">Ver Solicitud</button>
        </div>
    </div>
</body>
</html>
