<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <a href="{% url 'logout' %}" class="btn btn-secondary logout-button">Cerrar sesión</a>
            <h2>Bienvenido {{ user.username }}</h2>
            <button onclick="location.href='{% url 'generar_reporte' %}'" class="btn btn-primary m-bottom w-100">Generar Informe</button>
            <button onclick="location.href='{% url 'all_employee_service' %}'" class="btn btn-secondary w-100">Ver Servicios</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>