body {
    background-color: #2C2F48;
    color: white;
}

.table {
    color: white;
}

.table thead {
    background-color: #2C2F48;
}

.table-bordered th, .table-bordered td {
    border-color: white;
}

.btn-primary, .btn-danger, .btn-success {
    color: white;
}